In [36]:
# For these lessons we will need NumPy, pandas, matplotlib and seaborn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.model_selection import train_test_split
# and of course the actual regression (machine learning) module
from sklearn.linear_model import LinearRegression

In [49]:
data = pd.read_csv('heart_failure_clinical_records_dataset.csv')
data

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [38]:
data.describe(include='all')

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [39]:
data.shape

(299, 13)

In [40]:
estimators=['age','anaemia','creatinine_phosphokinase','diabetes','ejection_fraction','high_blood_pressure','platelets','sex','serum_creatinine','serum_sodium']
x1 = data[estimators]
y = data['DEATH_EVENT']

In [41]:
x1

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,sex,serum_creatinine,serum_sodium
0,75.0,0,582,0,20,1,265000.00,1,1.9,130
1,55.0,0,7861,0,38,0,263358.03,1,1.1,136
2,65.0,0,146,0,20,0,162000.00,1,1.3,129
3,50.0,1,111,0,20,0,210000.00,1,1.9,137
4,65.0,1,160,1,20,0,327000.00,0,2.7,116
...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1,1.1,143
295,55.0,0,1820,0,38,0,270000.00,0,1.2,139
296,45.0,0,2060,1,60,0,742000.00,0,0.8,138
297,45.0,0,2413,0,38,0,140000.00,1,1.4,140
298,50.0,0,196,0,45,0,395000.00,1,1.6,136

In [42]:
y

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [43]:
import statsmodels.api as sm
x = sm.add_constant(x1)
reg_logit = sm.Logit(y,x)
results_logit = reg_logit.fit()
results_logit.summary()

Optimization terminated successfully.
         Current function value: 0.492361
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            DEATH_EVENT   No. Observations:                  299
Model:                          Logit   Df Residuals:                      288
Method:                           MLE   Df Model:                           10
Date:                Mon, 12 Oct 2020   Pseudo R-squ.:                  0.2156
Time:                        20:45:12   Log-Likelihood:                -147.22
converged:                       True   LL-Null:                       -187.67
Covariance Type:            nonrobust   LLR p-value:                 3.319e-13
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        4.9591      4.587      1.081      0.280      -4.032      13.950
age                          0.0555      0.013      4.237      0.000       0.030       0.081
anaemia                      0.4058      0.299      1.356      0.175      -0.181       0.992
creatinine_phosphokinase     0.0003      0.000      2.010      0.044    7.09e-06       0.001
diabetes                     0.1482      0.297      0.498      0.618      -0.435       0.731
ejection_fraction           -0.0704      0.015     -4.736      0.000      -0.100      -0.041
high_blood_pressure          0.4170      0.306      1.364      0.173      -0.182       1.016
platelets                -6.721e-07   1.61e-06     -0.416      0.677   -3.83e-06    2.49e-06
sex                         -0.3429      0.319     -1.076      0.282      -0.968       0.282
serum_creatinine             0.6573      0.172      3.815      0.000       0.320       0.995
serum_sodium                -0.0564      0.033     -1.696      0.090      -0.122       0.009
============================================================================================
"""

In [44]:
def confusion_matrix(data,actual_values, model):
    pred_values = model.predict(data) ##predict the values using Logit model
    bins = np.array([0,0.5,1]) ## specify bins
    cm = np.histogram2d(actual_values, pred_values, bins = bins)[0] ## if values are between 0 and 0.5, they will be considered 1. IF values are between 0.5 and 1, they will be considered 1
    accuracy = (cm[0,0]+cm[1,1])/cm.sum()
    return cm, accuracy

In [45]:
cm = confusion_matrix(x,y,results_logit)
cm

(array([[185.,  18.],
        [ 48.,  48.]]),
 0.7792642140468228)

In [46]:
cm_df = pd.DataFrame(cm[0])
cm_df.columns = ["Predicted 0", "Predicted 1"]
cm_df = cm_df.rename(index={0:"Actual 0", 1: "Actual 1"})
cm_df

          Predicted 0  Predicted 1
Actual 0        185.0         18.0
Actual 1         48.0         48.0

In [48]:
print ("Missclassification rate"+ str((48+18)/299))

Missclassification rate0.22073578595317725